.wrapper {
    margin-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 2em auto 0;
}

body{
    background-image: url('image.png');
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.562);
    background-repeat: no-repeat;
}

#main-box {
    margin-top: 0px;
}

.error-box {
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 10px;
}


.form-control {
    margin-bottom: 20px;
}

.list{
    list-style: none;
    margin-left: 5px;
}